.d-body
  .d-body__diary-body
    .d-body__diary-body__delete
      削除が完了しました。
    .d-body__diary-body__back
      = link_to "マイページへ戻る", user_path(current_user.id), class: 'btn'
.footer
  continuation-diary