.body__objective{
  height: 100%;
  width: 50%;
  background-color: white;
  &__head {
    height: 100px;
    line-height: 100px;
    text-align: center;
    position: relative;
    font-size: 20px;
    border-bottom: 1px solid gray;
    &__mypage {
      font-size: 12px;
      position: absolute;
      right: 20px;
      bottom: 0;
    }
  }
  &__topic {
    margin: 20px 0;
    text-align: center
  }
  &__exsamples {
    height: 100px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gray;
    &__aims {
      list-style: none;
    }
    &__unit {
      margin-left: 10px;
      list-style: none;
    }
  }
  &__registration {
    height: 120px;
    line-height: 120px;
    font-size: 18px;
    display: flex;
    justify-content: center;
  }
  &__submit {
    padding: 5px 20px;
    text-align: center;
    background-color: red;
    color: white;
  }
}
