.body__diary-body {
  height: 100%;
  width: 50%;
  background-color: white;
  &__title {
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 20px;
    position: relative;
    border-bottom: 1px solid gray;
    &__mypage {
      position: absolute;
      font-size: 12px;
      right: 20px;
      bottom: 0;
    }
  }
  &__form {
    padding: 30px 70px;
    &__title {
      margin-bottom: 20px;
    }
    &__valuation {
      position: relative;
      margin-bottom: 20px;
      &__topic {
        font-size: 12px;
        position: absolute;
        top: 3px;
        left: 100px;
      }
    }
    &__sleep {
      margin-bottom: 20px;
    }
    &__feeling {
      margin-bottom: 20px;
    }
    &__short-term {
      margin-bottom: 20px;
    }
    &__long-term {
      margin-bottom: 20px;
    }
    &__plan {
      margin-bottom: 20px;
    }
    &__remark {
      margin-bottom: 20px;
    }
    &__submit {
      display: flex;
      justify-content: center;
      a {
        color: white;
        text-decoration: none;
      }
      &__btn {
        margin-right: 20px;
      }
      &__btn-e {
        display: block;
        padding: 5px 20px;
        border-radius: 5px;
        margin-right: 30px;
        background-color:gray;
      }
      &__btn-d {
        padding: 5px 20px;
        border-radius: 5px;
        margin-left: 30px;
        color: white;
        background-color: gray;
      }
    }
  }
}