.body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #EEEEEE;
  &__mypage {
    height: 100%;
    width: 50%;
    background-color: white;
    &__head {
      height: 100px;
      width: 100%;
      line-height: 100px;
      text-align: center;
      font-size: 20px;
      position: relative;
      &__account {
        right: 10px;
        bottom: 0;
        font-size: 12px;
        position: absolute;
        text-decoration: none;
      }
    }
    &__create {
      height: 70px;
      line-height: 70px;
      display: flex;
      justify-content: space-evenly;
    }
    &__body {
      height: calc(100% - 100px);
      width: 100%;
      display: flex;
      &__diaries {
        height: 100%;
        width: 50%;
        border-right: 1px solid gray;
        &__topic {
          padding: 20px 0;
          font-size: 18px;
          text-align: center;
          border-top: 1px solid gray;
          border-bottom: 1px solid gray;
        }
        &__field {
          height: 100%;
          &__diary {
            height: 100px;
            margin: 20px 20px;
            position: relative;
            &__title {
              padding: 10px 40px;
            }
            &__date {
              font-size: 10px;
              position: absolute;
              right: 30px;
              bottom: 10px;
            }
          }
        }
      }
      &__info {
        height: 100%;
        width: 50%;
        text-align: center;
        &__title {
          background-color: gray;
          border-bottom: 1px solid gray;
          padding: 20px 0;
          font-size: 18px;
          color: white;
        }
        &__details {
          &__space {
            display: flex;
            justify-content: left;
            &__detail {
            padding: 30px 0 0 50px;
            font-size: 16px;
          }
          }
        }
      }
    }
  }
}
.footer {
  height: 100px;
  width: 100%;
  line-height: 100px;
  font-size: 30px;
  background-color: #EEEEEE;
  text-align: center;
}